.navbar-brand {
    font-family: 'Noto Serif', serif;
    color: rgb(109, 106, 106);
    font-size: 1.5rem;
}
.navbar-brand span{
    color: rgb(180, 4, 180);
}
.navbar-brand:hover{
    animation: jerk .2s linear;
}
@keyframes jerk{
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(4deg);
    }
    66%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-4deg);
    }
}


.btn-hero{
    color:  rgb(43, 129, 124);
    background-color: white;
    border: 1.5px solid rgb(43, 129, 124);
    padding: .3rem .8rem;
    
}

.btn-hero:hover{
    color: black;
    background-color: rgb(144, 183, 180);
    transition:.4s ease-in-out;
}